@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0d1117;
  color: #c9d1d9;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
